@import url("jquery.bxslider.css");
@import url("thirdPartyIcons.css");
body{padding: 0; margin: 0;}
/*
.kulaGrowButtonShell{text-align: center; margin: auto;}
.kulaGrowButtonShell a{max-width: 70%; text-transform: uppercase; text-decoration: none; transition: all .3s ease;  padding: 20px 40px; margin: 10px auto; text-align: center; display: block;}
.kulaGrowButtonShell a:hover{padding: 20px 40px;text-decoration: none;}
.growButtonContact{background: #52A595; color: #FFFFFF;}
.growButtonContact:hover{background: #B8DCD5;}

.mainIndexImage{}
.kulaTest{background: #77C21B; width: 100%; height: 300px;}
.kulaMainPageHeaderIcon{width: 80px; margin: 20px auto;}
.kulaMainPageHeaderIconShell{color: #333333; font-weight: bold; text-align: center; display: block; padding: 40px 20px;  border-radius: 10px;}
.kulaMainPageHeaderIconShell:hover{background: #FFFFFF; border: 1px solid #CDCDCD; box-shadow: 5px 5px 20px #989898; color: #333333; text-decoration: none;}
.kulaMainPageHeaderIconTextShell{text-align: center;}
.kulaMainPageHeaderIconTextShell > p{font-weight: normal;}

.kulaShelfShell{background: URL(../layout/backgrounds/shelfBG.png) no-repeat; width: 100%; min-height: 400px; padding: 50px 50px 20px 50px;}
.kulaShelfSubtitle{font-style: italic; color:#333333; font-weight: bold;}
.kulaTitle{color: #FFFFFF; font-weight: bold; text-transform: uppercase; font-size: 2.6em;}
.kulaTitle>span{color: #333333;}
.kulaShelfShell>p{color: #FFFFFF; min-width: 240px; max-width: 500px; padding: 0 20px; font-size: .9em;}

/* KULA GROWER BUTTON STYLES  */
/*
.kulaGrowButtonShell{}
.kulaGrowButtonShell a{text-transform: uppercase; text-decoration: none; transition: all .3s ease;  padding: 15px 40px; margin: auto; text-align: center; display: table-cell; font-size: .8em;}
.kulaGrowButtonShell a:hover{padding: 15px 80px;}
.growButtonRedefine{background: #54A696; color: #FFFFFF;}
.growButtonRedefine:hover{background: #B8DCD5;} 

.mainPageShelfIconShell>i{font-size: 2.5em; padding: 5px 10px; float: left;}
.kulaShelfContainer{min-width: 240px; max-width: 900px; padding: 90px 20px 20px 20px; color: #FFFFFF;}

.kulaWhiteBG{background: #FFFFFF; padding: 80px 0;}
.cSuiteWrapper{max-width: 1600px; margin: auto; padding: 20px;}

.kulaTealSubTitle{font-style: italic; color:#77C21B; font-weight: bold;}
.kulaTealTitle{color: #333333; font-weight: bold; text-transform: uppercase; font-size: 2.6em;}

p.blockQuote{border-left: 3px solid #77C21B; padding: 0 20px;}

.kulaWhoIconShell{color: #333333;}
.kulaWhoIconShell>div{font-size: 1.8em; font-weight: bold; padding: 5px 0;}
*/

.boldText{font-weight: bold;}
.centerText{text-align: center;}
.leftText{text-align: left;}
.cSuiteOffBlackText{color: #565656;}
.cSuiteBlueText{ color: #18A3C4;}
.stdBoxShadow{box-shadow: 20px 20px 80px #ABABAB;}
.stdBoxShadow{box-shadow: 20px 20px 80px #ABABAB;}
.stdLargerText{font-size: 1.6em;}
.stdLargeText{font-size: 1.1em;}
.squareBullets{list-style-type: square;}
.cSuiteContentIndentShell{padding: 0 5%;}

.cSuiteContentWrapper{max-width: 1100px; margin: auto;}
.cSuiteContentShell{padding: 50px 5%;}

.cSuiteMainContentTitle{font-size: 3em;}
.cSuiteMainContentTitleUnderline{border-top: 1px solid #292b2c;}

.floatImageRight{float: right;}
.imageMaxWidth300{max-width: 500px;}
.cSuiteContentImage{padding: 3px; border: 1px solid #CDCDCD; margin: 20px;}

.cSuiteColumnShell{padding: 10px 3%;}
.cSuiteColumnTitle{font-size: 1.3em;}
.cSuiteColumnIconShell{padding: 80px 5%;}
.cSuiteColumnIconShell:hover{box-shadow: 20px 20px 80px #ABABAB;}

.cSuiteWrapper{max-width: 1600px; margin: auto; padding: 20px 5%; display: block;}
.kulaLargerTitle{color: #18A3C4; font-size: 2em;}

.fractionalWhiteBG{background:#FFFFFF;}


.cSuiteLogoText{color: #18A3C4; font-size: 2em; margin-top: -50px;}
.cSuiteBlockQuoteShell{border-left: 5px solid #FA3912; min-height: 50px; padding: 20px; box-shadow: -2px 10px 33px #EFEFEF; margin: 40px 0; background: #F8F8F8;}
.cSuiteBlockQuoteTitle{color: #22566F; font-weight: bold;}
.cSuiteBlockQuoteWords{color: #18A3C4 ;}
.cSuiteModifiedBlockQuote{float: right; display: table-cell;}

.revTechThreePanelInfoGraphicInfoShell{min-height: 200px; background: #FFFFFF; padding: 40px 20px; text-align: center; margin-bottom: 30px; box-shadow: -2px 10px 33px #DEDEDE;  }
.revTechThreePanelInfoGraphicInfoTitle{font-weight: bold;}
.revTechThreePanelInfoGraphicInfoShell>p{font-size: .8em;}

.cSuiteMainTitle{font-size: 3.5em; font-weight: bold; text-align: center; color: #18A3C4;}
.cSuiteMainSubTitle{text-align: center; color: #18A3C4; font-size: 2em;}

.cSuteMainTextBannerShell{padding: 40px 40px; background: #F8F8F8;}
.cSuiteCenterTableShell{width: 800px; margin: auto; border: 3px solid;}

.cSuiteServicesIcon{margin: auto; width: 128px;}
.cSuitMainLogoShell{min-width: 300px; max-width: 800px; margin: auto;}
.cSuiteMainLogo{width: 100%; margin-top: 100px;}

.cSuiteServicesIconShell{margin: 15px 0; color: #18A3C4;display: block; padding: 40px 5px;  border-radius: 10px; text-align: center; }
.cSuiteServicesIconShell:hover{background: #FFFFFF; border: 1px solid #CDCDCD; box-shadow: 5px 5px 20px #989898; text-decoration: none;}
.cSuiteServicesIconShell>ul{list-style-type: square; font-size: 1.3em; text-align: left; padding-top: 50px;}


.cSuiteLetterTitleShell{margin-bottom: 120px; padding: 100px 10px;}
.cSuiteLetterTitleLetter{color: #D7EEF4 ; font-size: 15em; position: absolute; z-index: 1; line-height: .5em; font-weight: bold; padding-bottom: 110px;}
.cSuiteLetterTitle{color: #484848; font-size: 3.5em; position: relative; top: 50px; z-index: 2;}
.cSuiteLetterTitleTop{position: relative; left: 20px; line-height: 1em;}
.cSuiteLetterTitleBottom{font-weight: bold; position: relative; left: 20px; line-height: 1em;}
.cSuiteLandingPageParagraphShell{font-size: 1.5em; padding: 10px 45px;}
.cSuiteLandingPageParagraphTitle{font-weight: normal; color: #484848; font-size: 2.5vw;}
.cSuiteLandingPageParagraph{font-size: 1.5vw;}
.cSuiteFractionalPriceExample{text-align: right; font-size: 1.3em; font-weight: bold; line-height: .8em; padding: 20px 20px 0 20px;}
.cSuiteFractionalPriceExampleBlue{text-align: right; font-size: 1.3em; font-weight: bold; color:#26A0BD ;line-height: .8em; padding: 0 20px 0 20px;}
.cSuiteLeadershipServicesList{list-style: square;}
.cSuiteFractionalPriceSource{text-align: right; font-size: .8em; padding: 20px 20px 0 20px;}

.cSuiteHeaderPadding{padding: 80px 0;}
.cSuiteGrowButtonShell{text-align: center; margin: 50px 0;}
.cSuiteGrowButton{background: #18A3C4; padding: 20px 90px; color: #FFFFFF; margin: auto; transition: all .3s ease; text-transform: uppercase; font-size: 2em; line-height: 1.5em;}
.cSuiteGrowButton:hover{padding: 20px 150px; text-decoration: none; color: #A4E9FA;}

.cSuitePreFooterActionWindow{margin: 80px 0;}
.cSuitePreFooterActionTitle{font-size: 4em; font-weight: bold; text-align: center; color: #18A3C4;}
.cSuitePreFooterQuote{font-style: italic; font-size: 1.4em; text-align: center; color: #22566F;}
.cSuiteCenterMe{text-align: center;}
.cSuiteHallowButton{border: 4px solid #18A3C4; max-width: 60%;}
.cSuiteContentGrowButtonShell{margin: 30px 0;}


@media screen and (max-width: 967px) {
	.cSuiteLandingPageParagraphTitle{font-weight: normal; color: #484848; font-size: 2em;}
	.cSuiteLandingPageParagraph{font-size: 1em;}
}

@media screen and (max-width: 767px) {
	.cSuiteFractionalPriceExample,.cSuiteFractionalPriceExampleBlue{line-height: 1.1em;}
	.cSuiteGrowButton{display: block;}
	.cSuiteLogoText{margin-top: -30px; font-size: 1.5em; line-height: 1.3em;}

	.cSuiteBGDiv{min-height: 900px;}

	.cSuitStartInfoGraphicImage{display: none;} 
	.cSuiteInfoGraphicOne{left: 0 !important;}
	.cSuiteInfoGraphicFour{left: 0 !important;}

	.cSuilteQuestionnaireFieldsets{padding: 0 !important;}

	.cSuiteLogoTextAdjustment{position: relative; top: -40px; font-size: 1.5em;}
	.cSuitePreFooterActionTitle{font-size: 2em;}
	.cSuitePreFooterQuote{font-size: 1em;}
	.cSuiteServiceIconWindowIconShell{margin: 30px 0;}
}