@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rb0mpo');
  src:  url('../fonts/icomoon.eot?rb0mpo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rb0mpo') format('truetype'),
    url('../fonts/icomoon.woff?rb0mpo') format('woff'),
    url('../fonts/icomoon.svg?rb0mpo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-computer-1:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
}
.icon-data-1:before {
  content: "\e902";
}
.icon-hosting:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\e904";
}
.icon-data:before {
  content: "\e905";
}
.icon-balance:before {
  content: "\e906";
}
.icon-cloud:before {
  content: "\e907";
}
.icon-megaphone:before {
  content: "\e908";
}
.icon-teamwork:before {
  content: "\e909";
}
.icon-ascendant-bars-graphic:before {
  content: "\e90a";
}
.icon-secure-shield:before {
  content: "\e90b";
}
.icon-technology-2:before {
  content: "\e90c";
}
.icon-technology-1:before {
  content: "\e90d";
}
.icon-technology:before {
  content: "\e90e";
}
.icon-computer:before {
  content: "\e90f";
}
